* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  flex: 1;
  padding: 20px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
}

.bg-navbar {
  background-color: #007600;
}
.lupa {
  padding-top: 10px;
}

.lupa:hover {
  background-color: #007600;
  margin-top: 2px;
}

.btnmaleta:hover {
  background-color: #9b6141;
}

.maleta {
  font-size: 30px;
}
.formnav {
  margin-left: 32%;
}

.bgmodal {
  background-color: #9b6141;
}

.iniciomodal {
  background-color: #825339;
}

.imgsesion {
  margin-top: 60%;
}

.btn4botones {
  background-color: #007600;
  color: white;
  height: 40px;
  margin-right: 10px;
}

.btn4botones:hover {
  background-color: #9b6141;
  color: white;
  border: solid 1px;
}

.btnincregi {
  background-color: #007600;
  color: white;
  border: solid 1px;
}

.btnincregi:hover {
  background-color: #9b6141;
  color: white;
  border: solid 1px;
}

.btnicreg {
  background-color: #007600;
  color: white;
  border: solid 1px;
}

.btnicreg:hover {
  background-color: #825339;
  color: white;
}

.btngoogle {
  background-color: brown;
  color: white;
  width: 100%;
  margin-bottom: 3%;
}

.btngoogle:hover {
  background-color: rgb(255, 63, 63);
  color: white;
}

.btnfacebook {
  background-color: blue;
  color: white;
  width: 100%;
  margin-bottom: 3%;
}

.btnfacebook:hover {
  background-color: dodgerblue;
  color: white;
}

.olvdtcontraseña:hover {
  color: slateblue;
}

.carruselll {
  height: 100%;
}

.categorias:hover {
  background-color: #9b6141;
  color: white;
}

.btn-tabla {
  background-color: #006100;
  color: white;
}

.btn-tabla:hover {
  background-color: #9b6141;
  color: white;
}

.fsfooter {
  font-size: 12px;
}
.iconos-redess {
  font-size: 22px;
}

@media (max-width: 991px) {
  .formnav {
    margin-left: 0;
    text-align: start;
  }
}
